#vlaanderen-functional-nav {
  left: 0;
  right: 0;
  top: 45px;
  width: 100%;
  display: block;

  background: #fff;
  color: #333;
  font-size: 16px;
  font-family: "Flanders Art Sans", sans-serif;
  -webkit-text-size-adjust: none;
  font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
}

.vl-functional-header--has-actions::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0rem;
  background-color: #cad8eb;
  z-index: 2;
}

.vl-functional-header__actions {
  padding: 1.0rem 0.5rem 1rem;
  float: right;
  display: flex;
  background-color: #cad8eb;
  position: absolute;
  right: 3rem;
  margin-top: 0rem;

  position: fixed;
  top: 45px;
  z-index: 10000;
}

.vl-functional-header__actions a {
  text-decoration: none;
}

.vl-functional-header__actions a:hover {
  text-decoration: underline;
}