div.scheme-container,
div.remove-swagger {
    display: none;
}

.swagger-ui .wrapper {
    padding: 0;
}

.information-container .vl-typography ul {
    margin: 0;
    margin-bottom: 1.8rem;
}

.information-container .vl-typography ul li {
    display: list-item;
    margin-bottom: 0;
}