#app { padding-top: 30px; }

.vl-title[id]::before {
  content: '';
  display: block;
  height: 45px;
  margin-top: -45px;
  visibility: hidden;
}

.vl-tooltip {
  max-width: 100em !important;
}

.vl-page {
  padding-top: 3rem;
}

@media (max-width: 580px) {
  #app { padding-top: 45px; }

  .vl-hero-navigation__list__listitem--active .vl-hero-navigation__title {
    text-decoration: none;
  }
}

.fixfloat:after {
  content: "";
  display: table;
  clear: both;
}

/* fix semantic-ui quirks */
.ui.negative.floating.message, .ui.attached.negative.floating.message {
  box-shadow: 
    0px 0px 0px 1px #E0B4B4 inset, 
    0px 2px 4px 0px rgba(34, 36, 38, 0.12), 
    0px 2px 10px 0px rgba(34, 36, 38, 0.15)
}